# IntelliJ
.idea/
*.iml
*.iws

# Maven
target/
.mvn/wrapper/maven-wrapper.properties

# Docker & Database
pgdata/
*.log

# Environment variables & secrets
.env

# Generic build artifacts
out/
*.class

# MacOS
.DS_Store

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# React app in /web
web/node_modules/
web/build/
web/.env
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

# Next.js site in /website
website/node_modules/
website/.next/
website/out/
website/.env
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local
website/Screenshot*.png
